body {
	background-color: rgb(200, 200, 200);
	color: rgb(20, 20, 20);
	font-family: 'Rubik', sans-serif;;
	font-size: 20px;
}

.img-square {
	border: 1px solid rgb(200, 200, 200);
  	border-radius: 5px;
  	padding: 5px;
  	width: 150px;
}

h1, h2, h3 {
	font-family: helvetica;
}

h1 {
	font-size: 50px;
	line-height: 1.6;	
	font-weight: 900;
	text-transform: uppercase;
}

h2 {
	text-decoration: underline;
}

.container {
	width: 700px;
	margin: 40px auto;
}

.card-white {
	background: white;
	border: 2px solid black;
	width: 800px;
	margin: 10px auto;
	padding: 40px 20px;
	border-top: 2px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 2px solid black;
	border-radius: 5px;
	box-shadow: 10px 5px 20px rgba(0, 0, 0, 1.0);
}

#intro {
	text-align: center;
}

.button-grey {
	background-color: rgba(200, 200, 200, 1);
	color: black;
	padding: 15px 20px;
	border-radius: 5px;
	transition: background-color 0.4s ease;
}

.button-grey:hover {
	background-color: black;
	color: white;
}

.list-horizontal {
	list-style: none;
	padding-left: 0px;
}

.list-horizontal li {
	display: inline;
	padding: 10px;
}

.list-horizontal i {
	font-size: 40px;
	color:  black;
	transition: color 0.4s ease;
}

.list-horizontal i:hover {
	color:  white;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

@media (max-width: 960px) {
  .card-white {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .card-white {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .card-white {
    width: 300px;
  }
}



